a {
  color: #3e4145;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

li {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}

.header-top {
  width: 100%;
  background-color: #6d7831;
  height: 37px;
}
.header-top a {
  padding: 5px 10px;
  color: white;
}
.header-top a:hover {
  background-color: #869538;
  padding: 5px 10px;
  border-radius: 15px;
}
.header-top__view {
  position: relative;
  top: 5px;
}
.header-top .header-top__menu {
  max-width: 800px;
  width: 100%;
}
.header-top .header-top__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.header-top .header-top__box .header-top__for-blind {
  white-space: nowrap;
}
.header-top .header-top__box .header-top__for-blind-text {
  line-height: 200%;
}
.header-top .header-top__box .header-top__list {
  display: flex;
}
.header-top .header-top__box .header-top__list .header-top__item {
  padding-left: 3vw;
}
.header-top .header-top__box .header-top__list .header-top__item:first-child {
  padding-left: 0;
}

.header {
  height: 140px;
}
.header__phone {
  font-size: 26px;
  font-weight: 600;
  color: #626159;
}
.header__link:hover {
  color: #869538;
}
.header__btn {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #dca41e;
  color: white;
  box-sizing: border-box;
  border-radius: 100px;
}

.header__block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block-top .header__social {
  display: flex;
}
.header__block-top .header__social .header__item:last-child {
  padding-left: 20px;
}

.header__block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block-bottom .header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.header__block-bottom .header__menu .header__list {
  width: 100%;
  display: flex;
}
.header__block-bottom .header__menu .header__list .header__item {
  padding-left: 3vw;
}
.header__block-bottom .header__menu .header__list .header__item:first-child {
  padding-left: 0;
}

.consultation {
  width: 100%;
  height: 550px;
  background: url("../src/bg-top.jpg") no-repeat;
  background-size: 100%;
}
.consultation__title {
  color: #626159;
  display: block;
  font-size: 42px;
  font-weight: 600;
  padding-top: 90px;
  margin-top: 0;
}
.consultation__title::before {
  content: "";
  position: relative;
  top: 87px;
  left: -20px;
  display: block;
  width: 5px;
  height: 75px;
  background-color: #dca41e;
}
.consultation__btn {
  font-size: 18px;
  padding: 10px 15px;
  background-color: white;
  border: 2px solid #dca41e;
  color: #dca41e;
  box-sizing: border-box;
  border-radius: 100px;
}

.price {
  width: 100%;
  height: 727px;
  background: url("../src/bg-section2.jpg") no-repeat 100%;
  background-size: 100%;
}
.price__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 170px);
  grid-row-gap: 20px;
  grid-column-gap: 2vw;
  padding-top: 65px;
}
.price__item {
  background-color: white;
  display: flex;
  padding-left: 40px;
  align-items: center;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.price__item:hover {
  background-color: #6d7831;
  transform: scale(1.2);
}
.price__item:hover .price__title {
  color: white;
}
.price__title {
  font-size: 18px;
  font-weight: 700;
  color: #626159;
  padding-left: 20px;
  transition-duration: 0.4s;
}

.specialists__title {
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #626159;
}
.specialists__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
